<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <link rel="stylesheet" href="/static/css/main.css" > 
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div class="content">
    <div id="chart" style="height: 460px; background: #fff;">
      <canvas id="doughnut-chart" width="800" height="450"></canvas>
    </div>
    <div id="log"></div>
  </div>


  <!-- JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-xml2json@0.0.8/src/xml2json.min.js"></script>
  <script src="https://unpkg.com/axios@0.16.2/dist/axios.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script type='text/javascript'>
var root = 'https://pan.p.fy.loc/api/';
var api_response = "";
var api_response_json = "";
var result_api_response = "";
var result_api_response_json = "";
var app_list = [];
var data_list = [];
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function get_report_data(job_id) {
  await sleep(2000);
  axios.get(root, {
        params: {
            type: 'report',
            action: 'get',
            'job-id': job_id,
            key: 'LUFRPT1wakI1dzNRT1dZSHpZL3ZnNjViSDNWcHVobkE9ejdZZmpBdXZiUFBDYWUya1pscW92b2RpaVUzb25QeHM1MzFpRGR1VWFRdGNzeWNFRTJCQnFLSW1nRENsMkpCdA=='
        }
    }).then((response) => {
        console.log(`Status code: ${response.status} <br />`);
        //console.log(response.data);
        result_api_response = response.data;
        result_api_response_json = $.xml2json(response.data);
        console.log(result_api_response_json);

        for (index = 0; index < result_api_response_json.response.result.report.entry.length; index++) { 
            app_list[index] = result_api_response_json.response.result.report.entry[index].app;
        };
        for (index = 0; index < result_api_response_json.response.result.report.entry.length; index++) { 
            data_list[index] = result_api_response_json.response.result.report.entry[index].bytes;
        };
        new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
              labels: app_list,
              datasets: [
                {
                  label: "Population (millions)",
                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "navy", "red", "orange", "blue", "brown"],
                  data: data_list,
                }
              ]
            },
            options: {
              title: {
                display: true,
                text: 'Top Applications'
              }
            }
        });
    })
    .catch((e) => {
        console.log('error' + e)
    })
};

// Make a GET request
window.onload = function() {
  (function () {
    var old = console.log;
    var logger = $('#log');
    console.log = function (message) {
        if (typeof message == 'object') {
            logger.html('<pre>' + logger.html() + (JSON && JSON.stringify ? JSON.stringify(message, undefined, 2) : message) + '</pre><br />');
        } else {
            logger.html(logger.html() + message);
        }
    }
  })();
  axios.get(root, {
        params: {
            type: 'report',
            reporttype: 'dynamic',
            cmd: `<type>
      <panorama-trsum>
        <sortby>bytes</sortby>
        <group-by>app</group-by>
        <aggregate-by>
          <member>category-of-app</member>
        </aggregate-by>
        <values>
          <member>bytes</member>
          <member>sessions</member>
          <member>nthreats</member>
        </values>
      </panorama-trsum>
    </type>
    <period>last-hour</period>
    <topn>10</topn>
    <topm>10</topm>
    <caption>panorama-traffic-summary</caption>
    <query>(device-group eq fy-home-net-fw-dg)</query>
    <runnow>yes</runnow>`,
            reportname: 'custom-dynamic-report',
            key: 'LUFRPT1wakI1dzNRT1dZSHpZL3ZnNjViSDNWcHVobkE9ejdZZmpBdXZiUFBDYWUya1pscW92b2RpaVUzb25QeHM1MzFpRGR1VWFRdGNzeWNFRTJCQnFLSW1nRENsMkpCdA=='
        }
    }).then((response) => {
        console.log(`Status code: ${response.status} <br />`);
        //console.log(response.data);
        api_response = response.data;
        api_response_json = $.xml2json(response.data);
        console.log(api_response_json);
        get_report_data(api_response_json.response.result.job);
    })
    .catch((e) => {
        console.log('error' + e)
    });
};
</script>
</body>
</html>
