<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <link rel="stylesheet" href="/static/css/main.css" > 
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div class="content">
    <div id="chart" style="height: 250px;"></div>
    <div id="log"></div>
  </div>


  <!-- JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-xml2json@0.0.8/src/xml2json.min.js"></script>
  <script src="https://unpkg.com/axios@0.16.2/dist/axios.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script type='text/javascript'>
var root = 'https://fw1.p.fy.loc/api/';

// Make a GET request
window.onload = function() {
  (function () {
    var old = console.log;
    var logger = $('#log');
    console.log = function (message) {
        if (typeof message == 'object') {
            logger.html('<pre>' + (JSON && JSON.stringify ? JSON.stringify(message, undefined, 2) : message) + '</pre><br />');
        } else {
            logger.html(message);
        }
    }
  })();
  axios.get(root, {
        params: {
            type: 'report',
            reporttype: 'dynamic',
            async: 'no',
            reportname: 'top-attacks-acc',
            key: 'LUFRPT1qd3dpQmpEbjM1WEhBamZ1MlNkYTRLRXJDeGM9dVMxa1Z2Tkt1bnlnQmhPb2Qrb2RKQndxNmVRN3dLOVlRM29LT1hEOHZJVEd6aEhLWDhOWWI5V2VxUmhyUUVIZg=='
        }
    }).then((response) => {
        console.log(`Status code: ${response.status}`);
        console.log(`Status text: ${response.statusText}`);
        console.log(`Request method: ${response.request.method}`);
        console.log(`Path: ${response.request.path}`);
        console.log(`Date: ${response.headers.date}`);
        console.log($.xml2json(response.data));
    })
    .catch((e) => {
        console.log('error' + e)
    })
};
</script>
</body>
</html>
